{% extends "city/base.html" %}
{% block content %}
<h2>Известные жители Новочебоксарска</h2>
<ul>
    <li>--Ольга Егорова. Родилась в Новочебоксарске, стала известной легкоатлеткой: чемпионкой мира в беге на 3000 и 5000 метров, победительницей Кубка Европы. 
чув.рф
--Сергей Кузнецов. Воспитанник новочебоксарской спортшколы №1. Он добился выдающихся результатов в спортивном туризме: 24 победы на чемпионатах России, пять раз становился чемпионом мира и чемпионом Европы. В 2025 году ему присвоили звание «Лучший спортсмен десятилетия» по спортивному туризму на пешеходных дистанциях. 
sovch.chuvashia.com
--Ольга Смирнова. Заслуженный мастер спорта России по вольной борьбе. Становилась чемпионкой мира и Европы, участницей Олимпийских игр.</li>
</ul>
<p>Город гордится своими жителями, которые прославили Новочебоксарск на региональном и всероссийском уровне.</p>
{% endblock %}
