{% extends "city/base.html" %}
{% block content %}
<h2>Исторические фотографии Новочебоксарска</h2>
<p>На этой странице собраны архивные фотографии, показывающие, как менялся город с момента основания до наших дней.</p>

{# Чтобы показывать реальные фото, раскомментируй строки ниже и положи картинки в static #}
{# {% load static %} #}
{# <img src="{% static 'city/img/old_square.jpg' %}" alt="Старая площадь"> #}

<p>Пока изображений нет: загрузи файлы в папку static/city/img и раскомментируй блок выше, чтобы отображать фото.</p>
{% endblock %}
