{% extends "city/base.html" %}
{% block content %}
<h2>История Новочебоксарска</h2>
<p>Новочебоксарск начал формироваться в 1960 году как посёлок строителей Чебоксарской ГЭС. Первоначально он развивался как спутник Чебоксар, но быстро стал самостоятельным промышленным и жилым центром.</p>
<p>В 1965 году населённый пункт получил статус города. С этого времени началось активное строительство жилых кварталов, школ, больниц и предприятий. Важную роль в развитии города сыграли крупные промышленные объекты, а также близость к Волге, которая исторически была транспортной артерией региона.</p>
{% endblock %}
